/********************/
/* Universal Styles */
/********************/

body {
    font-family:Arial;
    font-size:16px;
}

header, nav, section, footer {
    display:block;
}

header {
    position:relative;
    height:2.4rem;
    color:#eee;
    background-color:#1a1a1a;
}

header a:link,
header a:visited,
header a:active,
footer a:link,
footer a:visited,
footer a:active {
    color:#eee;
    text-decoration:none;
}

header a:hover,
footer a:hover {
    color:#999;
}

header a.active-link {
    color:#999;
}

header h1 {
    position:absolute;
    top:0rem;
    left:2rem;
    padding:0.4rem;
    font-size:1.4rem;
    font-weight:bold;
}

nav {
    position:absolute;
    top:0rem;
    left:14rem;
    height:2.4rem;
}

nav ul {
    padding:0.7rem;
    font-size:0.9rem;
}

nav ul li {
    display:inline;
    list-style-type:none;
    padding:0.4rem;
}

#login-info {
    position:absolute;
    top:0rem;
    right:2rem;
    padding:0.7rem 0.6rem;
    font-size:0.8rem;
}

#login-info a {
    margin-left:0.7rem;
    padding:0.4rem;
    border:1px solid #999;
    border-radius:0.7rem;
}

#content {
    padding:1rem 2.4rem;
}

footer {
    height:2.4rem;
    color:#eee;
    background-color:#1a1a1a;
}

footer p {
    padding:0.8rem 2.4rem;
    font-size:0.9rem;
}

h1,h2,h3,h4,h5,h6 {
    color:#55f;
}

/********/
/* Home */
/********/

#home-top {
    position:relative;
    height:22rem;
}

#left-block {
    position:absolute;
    top:3rem;
    left:4rem;
    border:1px solid blue;
    border-radius:1rem;
    background-color:rgba(255,255,255,0.8);
}

#left-block h1 {
    font-size:2rem;
    font-weight:bold;
    width:32rem;
    padding:0.5rem 0.5rem 0.5rem 1rem;
}

#left-block h2 {
    font-size:1rem;
    font-style:italic;
    width:32rem;
    padding:0.5rem 0.5rem 0.75rem 1rem;
}

#right-block {
    position:absolute;
    top:1rem;
    right:0rem;
    height:20rem;
    width:17rem;
}

#right-block input:not(.button) {
    width:15rem;
    margin:0.3rem;
    border:1px solid #999;
    border-radius:0.25rem;
}

#right-block input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0rem 0rem 0.5rem rgba(21,21,153,0.8);
}

#right-block input.button {
    width:15rem;
    margin:0.3rem;
    padding:0.3rem;
    color:white;
    background-color:#55f;
    border-radius:1rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#right-block input.button:focus {
    border:1px solid #999;
}

#login {
    width:16rem;
    padding:0.5rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#login p#forgot-password a {
    font-size:0.8rem;
    font-weight:bold;
    font-style:italic;
    margin-left:0.25rem;
}

#login p#forgot-password a {
    color:#009;
    text-decoration:none;
}

#register {
    margin-top:1rem;
    width:16rem;
    padding:0.5rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#register h3 {
    font-size:1.1rem;
    font-weight:bold;
    padding:0.3rem;
}

#home-content p {
    margin:1rem 0rem;
    display:none;
}

.trademark {
    font-style:italic;
}

#overview-map {
    position:absolute;
    top:1rem;
    left:0rem;
    height:20rem;
    width:60rem;
    border:1px solid #55f;
}

#overview-map ul {
    list-style-type:none;
    font-size:1rem;
    color:#55f;
}

#overview-map .popup-label {
    font-weight:bold;
}

.ol-popup {
    position:absolute;
    bottom:1rem;
    left:-3rem;
    min-width:10rem;
    padding:1rem;
    border-radius:1rem;
    border:1px solid #cccccc;
    background-color:white;
    -webkit-filter:drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter:drop-shadow(0 1px 4px rgba(0,0,0,0.2));
}

.ol-popup:after,.ol-popup:before {
    position:absolute;
    top:100%;
    height:0rem;
    width:0rem;
    border:solid transparent;
    content:" ";
    pointer-events:none;
}

.ol-popup:after {
    border-top-color:white;
    border-width:1rem;
    left:3rem;
    margin-left:-1rem;
}

.ol-popup:before {
    border-top-color:#cccccc;
    border-width:1rem;
    left:3rem;
    margin-left:-1rem;
}

/*********/
/* Login */
/*********/

#login-form {
    width:19rem;
    padding:1rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#login-form h1 {
    font-size:1.5rem;
    font-weight:bold;
    padding:0.5rem;
}

#login-form input:not(.button) {
    width:18rem;
    border:1px solid #999;
    border-radius:0.25rem;
    margin:0.3rem;
}

#login-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0rem 0rem 0.5rem rgba(21,21,153,0.8);
}

#login-form input.button {
    width:18rem;
    margin:0.3rem;
    padding:0.5rem;
    color:white;
    background-color:#55f;
    border-radius:1rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#login-form input.button:focus {
    border:1px solid #999;
}

#login-form p#forgot-password a {
    font-size:0.8rem;
    font-weight:bold;
    font-style:italic;
    margin-left:0.5rem;
    color:#009;
    text-decoration:none;
}

/************/
/* Register */
/************/

#register-form {
    width:19rem;
    padding:1rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#register-form h1 {
    font-size:1.5rem;
    font-weight:bold;
    padding:0.5rem;
}

#register-form input:not(.button) {
    width:18rem;
    border:1px solid #999;
    border-radius:0.25rem;
    margin:0.3rem;
}

#register-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0rem 0rem 0.5rem rgba(21,21,153,0.8);
}

#register-form input.button {
    width:18rem;
    margin:0.3rem;
    padding:0.5rem;
    color:white;
    background-color:#55f;
    border-radius:1rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#register-form input.button:focus {
    border:1px solid #999;
}

/************/
/* Account */
/************/

#account-form {
    width:19rem;
    padding:1rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#account-form h1 {
    font-size:1.5rem;
    font-weight:bold;
    padding:0.5rem;
}

#account-form h2 {
    font-size:1.2rem;
    font-weight:bold;
    padding:0.5rem;
}

#account-form input:not(.button) {
    width:18rem;
    border:1px solid #999;
    border-radius:0.25rem;
    margin:0.3rem;
}

#account-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0rem 0rem 0.5rem rgba(21,21,153,0.8);
}

#account-form input.button {
    width:18rem;
    margin:0.3rem;
    padding:0.5rem;
    color:white;
    background-color:#55f;
    border-radius:1rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#account-form input.button:focus {
    border:1px solid #999;
}

/************/
/* Password */
/************/

#password-form {
    width:19rem;
    padding:1rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#password-form h1 {
    font-size:1.5rem;
    font-weight:bold;
    padding:0.5rem;
}

#password-form input:not(.button) {
    width:18rem;
    border:1px solid #999;
    border-radius:0.25rem;
    margin:0.3rem;
}

#password-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0rem 0rem 0.5rem rgba(21,21,153,0.8);
}

#password-form input.button {
    width:18rem;
    margin:0.3rem;
    padding:0.5rem;
    color:white;
    background-color:#55f;
    border-radius:1rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#password-form input.button:focus {
    border:1px solid #999;
}

/***************/
/* Error Pages */
/***************/

p.alert {
    font-size:0.8rem;
    font-style:italic;
    width:19rem;
    margin-bottom:1rem;
    padding:1rem;
    border:1px solid #009;
    border-radius:1rem;
}

p.error-message {
    font-size:1rem;
    width:30rem;
    margin-top:1rem;
    padding:1rem;
    border:1px solid #009;
    border-radius:1rem;
}

/*************/
/* Dashboard */
/*************/

#dashboard {
    position:relative;
    height:37rem;
    padding:1rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#dashboard h1 {
    font-size:1.5rem;
    font-weight:bold;
}

#dashboard input#quit-button {
    position:absolute;
    top:0rem;
    right:2rem;
}

#dashboard #image-analysis-pane {
    position:absolute;
    top:3.5rem;
    width:59.5rem;
    height:34rem;
    border:2px solid #55f;
}

#dashboard .ol-dragbox {
    background-color:rgba(255,255,255,0.4);
    border-color:rgba(100,150,0,1);
}

#dashboard #sidebar {
    position:absolute;
    top:3.5rem;
    right:1rem;
    width:15rem;
    padding:0.5rem 0.75rem;
    background-color:#eee;
    border:2px solid #55f;
    border-radius:1rem;
}

#dashboard fieldset {
    padding:0.5rem;
    margin-bottom:1rem;
    border:1px solid #55f;
}

#dashboard legend {
    font-size:1.2rem;
    font-weight:bold;
    color:#55f;
}

#dashboard select {
    display:block;
    height:2.5rem;
    margin:auto;
    padding:0.5rem;
    color:#55f;
    border:1px solid #55f;
}

#dashboard option {
    color:#55f;
}

#dashboard input.button {
    display:block;
    padding:0.5rem;
    margin:0.5rem auto 0rem auto;
    color:white;
    background-color:#55f;
    border-radius:0.5rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#dashboard ul {
    width:13rem;
    margin:auto;
    list-style-type:none;
}

#dashboard ul li input {
    height:2rem;
    width:13rem;
    color:#55f;
    border:1px solid #999;
    border-radius:0.5rem;
}

/*********/
/* Admin */
/*********/

#admin {
    position:relative;
    height:36rem;
    padding:1rem;
    background-color:#e0e0e0;
    border-radius:1rem;
}

#admin h1 {
    font-size:1.5rem;
    font-weight:bold;
}

#admin legend {
    font-size:1.2rem;
    font-weight:bold;
    color:#55f;
}

#admin label {
    font-weight:bold;
    color:#55f;
    margin-right:1rem;
}

#admin input[type=number], #admin input[type=text] {
    height:1rem;
    padding:0.3rem;
}

#admin fieldset {
    padding:1rem;
    background-color:#eee;
    border:1px solid #55f;
}

#admin fieldset#project-info {
    position:absolute;
    top:3.5rem;
    width:21.5rem;
    height:8rem;
}

#admin fieldset#project-info table {
    height:7.5rem;
}

#admin fieldset#project-info input[type=text] {
    width:13rem;
}

#admin fieldset#project-info textarea {
    height:4rem;
    width:13rem;
    padding:0.3rem;
}

#admin fieldset#plot-info {
    position:absolute;
    top:3.5rem;
    left:26rem;
    width:17rem;
    height:8rem;
}

#admin fieldset#plot-info table {
    height:7.5rem;
}

#admin fieldset#plot-info input {
    width:5rem;
}

#admin fieldset#bounding-box {
    position:absolute;
    top:3.5rem;
    left:46.5rem;
    width:16rem;
    height:8rem;
}

#admin fieldset#bounding-box input {
    display:block;
    width:5rem;
}

#admin fieldset#bounding-box input#lat-max {
    margin:0rem auto 0.25rem auto;
}

#admin fieldset#bounding-box input#lon-min {
    margin:0.25rem 0rem;
    float:left;
}

#admin fieldset#bounding-box input#lon-max {
    margin:0.25rem 0rem;
    float:right;
}

#admin fieldset#bounding-box input#lat-min {
    margin:0.25rem auto;
}

#admin fieldset#sample-info {
    position:absolute;
    top:15rem;
    width:40.75rem;
}

#admin fieldset#sample-info th {
    font-weight:bold;
    color:#55f;
    text-align:center;
    padding:0.25rem;
    background-color:#aaa;
    border:1px solid #55f;
}

#admin fieldset#sample-info th.empty {
    background-color:#eee;
    border:0px;
}

#admin fieldset#sample-info td {
    text-align:center;
    padding:0.25rem;
}

#admin fieldset#sample-info .circle {
    width:1rem;
    height:1rem;
    border-radius:0.5rem;
    margin:0rem auto;
}

#admin fieldset#sample-info input#value-name {
    width:10rem;
}

#admin fieldset#sample-info input#value-color {
    margin:0rem 1rem;
    height:1.5rem;
}

#admin fieldset#sample-info input.button {
    padding:0.25rem;
    color:white;
    min-width:2rem;
    background-color:#55f;
    border-radius:0.5rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#admin input.button[name=add-sample-value] {
    margin:0.5rem;
}

#admin #new-project-map {
    position:absolute;
    top:15.6rem;
    left:45rem;
    width:33.5rem;
    height:21rem;
    border:1px solid #55f;
}

#admin input.button[name=create-project] {
    position:absolute;
    top:0.5rem;
    right:5rem;
    width:17rem;
    display:block;
    font-size:1.1rem;
    padding:0.5rem;
    color:white;
    background-color:#55f;
    border-radius:1rem;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#admin img#compass-rose {
    position:absolute;
    top:4.25rem;
    right:3rem;
    width:10rem;
}

#admin #spinner {
    position:absolute;
    top:0.6rem;
    right:2rem;
    width:2rem;
    height:2rem;
    border-radius:1rem;
    border-bottom:0.25rem solid #55f;
    -webkit-animation:sweep 1s infinite linear;
    visibility:hidden;
}
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }
