/********************/
/* Universal Styles */
/********************/

body {
    font-family:Arial;
    font-size:16px;
}

header {
    position:relative;
    height:37px;
    display:block;
    color:#eee;
    background-color:#1a1a1a;
    margin-bottom:10px;
    font-size:0.8em;
    /* border:1px solid #009; */
}

header a:link,
header a:visited,
header a:active,
footer a:link,
footer a:visited,
footer a:active {
    color:#eee;
    text-decoration:none;
}

header a:hover,
footer a:hover {
    color:#999;
}

header a.active-link {
    color:#999;
}

header h1 {
    position:absolute;
    top:0px;
    left:30px;
    padding:5px;
    font-size:1.75em;
    font-weight:bold;
}

nav {
    position:absolute;
    top:0px;
    left:200px;
    height:37px;
    display:block;
}

nav ul {
    padding:10px;
    font-size:1.1em;
}

nav ul li {
    display:inline;
    list-style-type:none;
    padding:5px;
}

#login-info {
    position:absolute;
    top:0px;
    right:27px;
    padding:10px 8px;
}

#login-info a {
    margin-left:10px;
    padding:5px;
    border:1px solid #999;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#content {
    padding:0 3em;
}

footer {
    display:block;
    margin-top:10px;
    padding:0.8em 3em;
    color:#eee;
    background-color:#1a1a1a;
    /* border:1px solid #009; */
    font-size:0.8em;
}

section {
    display:block;
}

h1,h2,h3,h4,h5,h6 {
    color:#55f;
}

/********/
/* Home */
/********/

#home-top {
    position:relative;
    width:100%;
    height:345px;
    /* border:1px solid orange; */
}

#left-block {
    position:absolute;
    left:0px;
    top:15px;
    height:275px;
    width:760px;
    padding:20px;
    background-image:url(/img/earth_from_space.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#left-block h1 {
    font-size:2em;
    font-style:normal;
    font-weight:bold;
    margin-left:1em;
    padding:5px 5px 5px 15px;
    background-color:rgba(255,255,255,0.8);
    width:18.5em;
    border-radius:10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius:10px 10px 0px 0px;
}

#left-block h2 {
    font-size:1em;
    font-style:italic;
    margin-left:2em;
    padding:5px 5px 10px 15px;
    background-color:rgba(255,255,255,0.8);
    width:37em;
    border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
}

#left-block input.button {
    font-size:1em;
    margin:1.5em 2em;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#left-block input.button:focus {
    border:1px solid #999;
}

#right-block {
    position:absolute;
    left:70%;
    top:0px;
    height:300px;
    width:30%;
    /* border:1px solid purple; */
}

#right-block input:not(.button) {
    width:90%;
    border:1px solid #999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:4px;
}

#right-block input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -moz-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -webkit-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
}

#right-block input.button {
    width:90%;
    margin:4px;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#right-block input.button:focus {
    border:1px solid #999;
}

#login {
    position:absolute;
    left:0px;
    top:15px;
    width:80%;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#login p#forgot-password a {
    font-size:0.8em;
    font-weight:bold;
    font-style:italic;
    margin-left:5px;
}

#login p#forgot-password a {
    color:#009;
    text-decoration:none;
}

#register {
    position:absolute;
    left:0px;
    top:160px;
    width:80%;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#register h3 {
    font-size:1.2em;
    padding:5px;
}

#home-content {
    /* border:1px solid blue; */
}

#home-content p {
    width:90%;
    margin-bottom:1em;
}

#home-content dl {
    /* border:1px solid green; */
    margin-bottom:1em;
}

#home-content dt {
    font-weight:bold;
    color:#009;
}

#home-content dd {
    margin-left:1em;
    padding:0.5em;
    width:65%;
}

.trademark {
    font-style:italic;
}

#overview-map-wait-message {
    font-size:0.9em;
    font-weight:bold;
    color:#009;
}

#overview-map {
    position:relative;
    left:100px;
    height:300px;
    width:900px;
    border:1px solid #55f;
}

#overview-map ul {
    list-style-type:none;
    font-size:1em;
    color:#55f;
}

#overview-map .popup-label {
    font-weight:bold;
}

.ol-popup {
    position:absolute;
    background-color:white;
    -webkit-filter:drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter:drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding:15px;
    border-radius:10px;
    border:1px solid #cccccc;
    bottom:12px;
    left:-50px;
    min-width:500px;
}

.ol-popup:after,.ol-popup:before {
    top:100%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
}

.ol-popup:after {
    border-top-color:white;
    border-width:10px;
    left:48px;
    margin-left:-10px;
}

.ol-popup:before {
    border-top-color:#cccccc;
    border-width:11px;
    left:48px;
    margin-left:-11px;
}

/*********/
/* Login */
/*********/

#login-form {
    width:30%;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#login-form h1 {
    font-size:1.5em;
    font-style:normal;
    font-weight:bold;
    padding:5px;
}

#login-form input:not(.button) {
    width:90%;
    border:1px solid #999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:4px;
}

#login-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -moz-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -webkit-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
}

#login-form input.button {
    width:90%;
    margin:4px;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#login-form input.button:focus {
    border:1px solid #999;
}

#login-form p#forgot-password a {
    font-size:0.8em;
    font-weight:bold;
    font-style:italic;
    margin-left:5px;
}

#login-form p#forgot-password a {
    color:#009;
    text-decoration:none;
}

/************/
/* Register */
/************/

#register-form {
    width:30%;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#register-form h1 {
    font-size:1.5em;
    font-style:normal;
    font-weight:bold;
    padding:5px;
}

#register-form input:not(.button) {
    width:90%;
    border:1px solid #999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:4px;
}

#register-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -moz-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -webkit-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
}

#register-form input.button {
    width:90%;
    margin:4px;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#register-form input.button:focus {
    border:1px solid #999;
}

/************/
/* Account */
/************/

#account-form {
    width:30%;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#account-form h1 {
    font-size:1.5em;
    font-style:normal;
    font-weight:bold;
    padding:5px;
}

#account-form h2 {
    font-size:1.2em;
    font-style:normal;
    font-weight:bold;
    padding:5px;
}

#account-form input:not(.button) {
    width:90%;
    border:1px solid #999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:4px;
}

#account-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -moz-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -webkit-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
}

#account-form input.button {
    width:90%;
    margin:4px;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#account-form input.button:focus {
    border:1px solid #999;
}

/************/
/* Password */
/************/

#password-form {
    width:30%;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#password-form h1 {
    font-size:1.5em;
    font-style:normal;
    font-weight:bold;
    padding:5px;
}

#password-form input:not(.button) {
    width:90%;
    border:1px solid #999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:4px;
}

#password-form input:not(.button):focus {
    border:1px solid #55f;
    box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -moz-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
    -webkit-box-shadow:0px 0px 6px rgba(21,21,153,0.8);
}

#password-form input.button {
    width:90%;
    margin:4px;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#password-form input.button:focus {
    border:1px solid #999;
}

/***************/
/* Error Pages */
/***************/

p.alert {
    font-size:0.8em;
    font-style:italic;
    width:27%;
    margin:1em 1em;
    padding:10px;
    border:1px solid #009;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

p.error-message {
    width:45%;
    margin:10px;
    padding:10px;
    border:1px solid #009;
    font-size:1em;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

/*************/
/* Dashboard */
/*************/

#dashboard {
    position:relative;
    height:575px;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#dashboard h1 {
    font-size:1.5em;
    font-style:normal;
    font-weight:bold;
    padding:5px;
}

#dashboard #sidebar {
    position:absolute;
    left:77%;
    width:20%;
    height:500px;
    padding:5px 10px;
    background-color:#eee;
    border:2px solid #55f;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#dashboard fieldset {
    margin-top:10px;
}

#dashboard legend {
    font-size:1.2em;
    font-style:normal;
    font-weight:bold;
    color:#55f;
}

#dashboard select {
    display:block;
    margin:auto;
    color:#55f;
}

#dashboard option {
    color:#55f;
    padding:5px;
}

#dashboard input.button {
    display:block;
    font-size:1em;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#dashboard table {
    margin:10px auto;
}

#dashboard td {
    padding:0px 3px;
}

#dashboard #save-values-button {
    margin:10px auto;
}

#dashboard ul {
    width:90%;
    margin:5px auto;
    list-style-type:none;
}

#dashboard ul li input {
    height:30px;
    width:100%;
    color:#55f;
    border:1px solid #999;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#dashboard #image-analysis-pane {
    position:absolute;
    width:75%;
    height:510px;
    border:2px solid #55f;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#dashboard .ol-dragbox {
    background-color:rgba(255,255,255,0.4);
    border-color:rgba(100,150,0,1);
}

/*********/
/* Admin */
/*********/

#admin {
    position:relative;
    height:575px;
    padding:10px;
    background-color:#e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#admin h1 {
    font-size:1.5em;
    font-style:normal;
    font-weight:bold;
    padding:5px;
}

#admin legend {
    font-size:1.2em;
    font-style:normal;
    font-weight:bold;
    color:#55f;
}

#admin label {
    margin:0px 10px;
    color:#55f;
    font-weight:bold;
}

#admin input[type=number], #admin input[type=text] {
    height:20px;
    padding:5px;
}

#admin fieldset {
    margin-top:10px;
    padding:10px;
    background-color:#eee;
}

#admin fieldset#project-info {
    position:absolute;
    top:54px;
    width:375px;
    height:130px;
}

#admin fieldset#project-info table {
    height:110px;
}

#admin fieldset#plot-info {
    position:absolute;
    top:54px;
    left:428px;
    width:285px;
    height:130px;
}

#admin fieldset#plot-info table {
    height:110px;
}

#admin fieldset#plot-info input {
    width:80px;
}

#admin fieldset#bounding-box {
    position:absolute;
    top:54px;
    left:750px;
    width:265px;
    height:130px;
}

#admin fieldset#bounding-box input {
    display:block;
    width:80px;
}

#admin fieldset#bounding-box input#lat-max {
    margin:auto;
}

#admin fieldset#bounding-box input#lon-min {
    float:left;
}

#admin fieldset#bounding-box input#lon-max {
    float:right;
}

#admin fieldset#bounding-box input#lat-min {
    margin:auto;
}

#admin fieldset#sample-info {
    position:absolute;
    top:218px;
    width:720px;
}

#admin fieldset#sample-info th {
    font-size:1em;
    color:#55f;
    background-color:#aaa;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#admin fieldset#sample-info th.empty {
    background-color:#eee;
}

#admin fieldset#sample-info td {
    text-align:center;
}

#admin fieldset#sample-info .circle {
    width:25px;
    height:25px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin:0px auto;
}

#admin fieldset#sample-info input[name=value-color] {
    margin:0px 10px;
}

#admin #new-project-map {
    position:absolute;
    top:240px;
    left:765px;
    width:470px;
    height:335px;
    border:1px solid #777;
}

#admin input.button[name=create-project] {
    position:absolute;
    top:15px;
    left:900px;
    width:285px;
    display:block;
    font-size:1.1em;
    padding:5px;
    color:white;
    background-color:#55f;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -moz-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
    -webkit-box-shadow:3px 3px 6px rgba(21,21,153,0.6);
}

#admin img#compass-rose {
    position:absolute;
    top:75px;
    left:1070px;
    width:150px;
}

#admin #spinner {
    position:absolute;
    top:15px;
    left:1195px;
    width:30px;
    height:30px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-bottom:3px solid #55f;
    -webkit-animation:sweep 1s infinite linear;
    visibility:hidden;
}
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }

/***************/
/* SVG Styles  */
/***************/

svg.histogram {
    display:inline-block;
    vertical-align:top;
}

.x-axis line,
.y-axis line {
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.x-axis text,
.y-axis text {
    font-family:sans-serif;
    font-size:9px;
}
